body{
background-color: #FFF0F5;
}
#judulatas{
color: white;
text-align: center;
font-size: 18pt;
}
#borderatas{
text-align: center;
color: white;
width: 100%;
height: 10%;
background-color: #333333;
float: left;
}
#header{
width: 100%;
float: left;
height: 100%;
}
#pasfoto{
border-style: solid;
border-width: 5px;
height: auto;
width: 200px;
margin-left: 5%;
margin-top: 5%;
}
#judul1{
text-align: center;
color: #800000;

}
#teks-1{
text-align: center;
color: #191970;
font-size: 18pt;
}
#borderbawah{
width: 100%;
height: 10%;
float: left;
text-align: right;
background-color: #333333;
}
#news{
width: 100%;
height: 100%;
overflow: auto;
float: left;
background-color: #FF4500;
font: "Times New Roman";
}
.teks-2{
padding-left: 30px; 
padding-right: 30px; 
padding-bottom: 30px;"
}
#side-menu{
width: 30%;
height: 100%;
overflow: auto;
float: left;
}
.linksidemenu{
color: orange;
padding-left: 15px;
}
#footer{
width: 100%;
height: 8%;
float: left;
text-align: center;
color: white;
background-color: #333333;
}